# Since the ".env" file is gitignored, you can use the ".env.example" file to
# build a new ".env" file when you clone the repo. Keep this file up-to-date
# when you add new variables to `.env`.

# This file will be committed to version control, so make sure not to have any
# secrets in it. If you are cloning this repo, create a copy of this file named
# ".env" and populate it with your secrets.

# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="postgresql://postgres:password@localhost:5432/reactem" 
# i lied database url will be equal to postgres url as of right now
POSTGRES_URL="postgres://default:abcd@something.com:5432/verceldb?sslmode=require"
POSTGRES_PRISMA_URL="postgres://default:abcdefg@something.com:5432/verceldb?sslmode=require&pgbouncer=true&connect_timeout=15"
POSTGRES_URL_NO_SSL="postgres://default:abcdefghick@something.com:5432/verceldb"
POSTGRES_URL_NON_POOLING="postgres://default:skibidi@something.com:5432/verceldb?sslmode=require"
POSTGRES_USER="default"
POSTGRES_HOST="something.com"
POSTGRES_PASSWORD="git add ./.env | git commit -m 'I'm clearly stupid' | git push"
POSTGRES_DATABASE="verceldb"
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=not this time weird no quotes
CLERK_SECRET_KEY=nice try weird no quotes
UPLOADTHING_TOKEN='didster='
SENTRY_AUTH_TOKEN="sntrys_blahBlahBlah=blahbahbhlah/blah"

# Example:
# SERVERVAR="foo"
# NEXT_PUBLIC_CLIENTVAR="bar"
